APP_NAME=Palm Mind RAG API
APP_ENV=development

# FOR LOCAL
# DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/palm_min

# FOR PRODUCTION
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/palm_min


# FOR LOCAL
# REDIS_URL=redis://localhost:6379/0

# FOR PRODUCTION
REDIS_URL=redis://redis:6379/0


# FOR LOCAL
# QDRANT_URL=http://localhost:6333

# FOR PRODUCTION
QDRANT_URL=http://qdrant:6333


QDRANT_COLLECTION=document_chunks


OPENAI_API_KEY=your_api_key

OPENAI_CHAT_MODEL=gpt-5
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

TOP_K=5